@import './box_type.scss';
@import './header.scss';
@import './topic_type.scss';
@import './foot.scss';
@import './login_box.scss';
body{
    overflow: auto;
   }
#wrap_all{
    width: 100%;
    // height: 2000px;
    // background: #f3f4f6 url(../image/bg-index.jpg) no-repeat top center;
    background-color: #f3f4f6;
    min-width: 1190px;
    overflow: hidden;
    // color: #333;
    .menu{
        background: url(//js01.daoju.qq.com/mall/images/channelmall/lol/bg-head.jpg) no-repeat top center;
        .top_2{
            padding-top: 10px;
            padding-bottom: 22px;
        }
        .top_4{
            background: #e6e6e8;
            a{
                color: #333;
            }
            
            li:hover{
                a{
                    color: #36ab87;
                }
                border-bottom: 2px solid #36ab87;
            }
        }
    }
    #location_box{
        margin: 24px auto 8px;
        width: 1190px;
        color: #606060;
        height: 18px;
        position: relative;
        zoom: 1;
        cursor: pointer;
        .location{
            a{
                color: #3a3f4a;
            }
        }
    }
    #lists{
        width: 1190px;
        margin: 0 auto;
        // height: 402px;
        height: auto;
        position: relative;
        overflow: hidden;
        .left{
            width: 215px;
            padding: 0 13px 0 0;
            height: auto;
            float: left;
            overflow: hidden;
            margin-right: 10px;
            .topic{
                width: 228px;
                height: 49px;
            }
            .hot{
                width: 228px;
                height: auto;
                background-color: #fafbfc;
                padding-bottom: 10px;
                margin-bottom: 
                15px;
            }
            .round{
                width: 228px;
                height: auto;
                background-color: #fafbfc;
                padding-bottom: 10px;
                margin-bottom: 
                10px;
                a{
                    margin-left: 160px;
                }
            }
        }
        .right{
            width: 952px;
            overflow: hidden;
            background: #fafbfc;
            padding: 30px 0 14px;
            .top_con{
                margin-left: 58px;
                width: 888px;
                height: 360px;
                overflow: hidden;
                background: #fafbfc;
                .goods_img{
                    margin-top: 35px;
                    float: left;
                    position: relative;
                    img{
                        display: inline-block;
                        width: 260px;
                        height: auto;
                    }
                    div{
                        width: 16px;
                        height: 15px;
                        background: url(//js01.daoju.qq.com/common/images/channel/revision/lol/comico.png) no-repeat;
                        background-position: -5px -969px;
                        right: -1px;
                        bottom: -17px;
                        text-indent: -9999em;
                        overflow: hidden;
                        cursor: pointer;
                        position: absolute;
                    }
                    // .bigImg{
                    //     position: fixed;
                    //     left: 50%;
                    // }
                }
                .goods_box{
                    width: auto;
                    margin-left: 23px;
                    overflow: hidden;
                    float: left;
                    p{
                        // float: left;
                        line-height: 30px;
                        display: block;
                        font-size: 14px;
                        color: #606060;
                    }
                    h2{
                        // float: left;
                        font-size: 18px;
                        // text-indent: 15px;
                        font-weight: bold;
                        color: #2e2e2e;
                        margin-top: 10px;
                    }
                    .bg_price{
                        // float: left;
                        margin-top: 6px;
                        width: 456px;
                        height: 76px;
                        background: url(//js01.daoju.qq.com/common/images/channel/revision/lol/comico.png) no-repeat;
                        background-position: -5px -143px;
                        position: relative;
                        margin-bottom: 30px;
                        div{
                            display: block;
                            clear: both;
                            height: 30px;
                        }
                        .qb{
                            padding-top: 10px;
                        }
                        p{
                            float: left;
                            line-height: 30px;
                            display: block;
                            font-size: 14px;
                            color: #606060;
                        }
                        span{
                            font-size: 14px;
                            margin-left: 20px;
                        }

                        .wx{
                            p{
                                margin-right: 20px;
                            }
                            h3{
                                font: bold 24px Arial;
                                color: #ff5900;
                            }
                        }
                    }
                    .buy{
                        margin-top: 10px;
                        .incar{
                            margin: 10px 9px 0 15px;
                            display: inline-block;
                            width: 142px;
                            height: 42px;
                            line-height: 42px;
                            text-align: center;
                            font-size: 18px;
                            color: #fff;
                            background: #f25806;
                        }
                        .incar:hover{
                            background: #ff5900;
                        }
                        .gift{
                            background: #259afe;
                            margin: 10px 9px 0 15px;
                            display: inline-block;
                            width: 142px;
                            height: 42px;
                            line-height: 42px;
                            text-align: center;
                            font-size: 18px;
                            color: #fff;
                        }
                        .gift:hover{
                            background: #1c91f5;
                        }
                        
                    }
                }

            }
            .btm_con{
                display: block;
                margin: 36px 20px 20px;
                background: #fafbfc;
                height: auto;
                border: 1px solid #ddd;
                .nav{
                    margin: 17px 0 0 75px;
                    display: block;
                    height: 20px;
                    width: 705px;
                    background-position: -5px -229px;
                    position: relative;
                    background-color: #fff;
                    a{
                        position: absolute;
                        z-index: 4;
                        top: -11px;
                        left: -75px;
                        height: 20px;
                        font-weight: bold;
                        color: #222;
                        font-size: 14px;
                    }
                }
                .content{
                    width: 84%;
                    padding: 30px 8% 0;
                    height: auto;
                    font-size: 14px;
                    line-height: 22px;
                    p{
                        margin: 5px 0;
                        text-align: left;
                    }
                }
            }
        }
    }
    #flow{
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 2000;
        margin: 0 20px 215px 0;
        a{
          display: block;
          border: 1px solid #e1e1e1;
          background: #fff;
          width: 68px;
          padding: 7px 0;
          text-align: center;
          margin-top: 3px;
          color: #333;
          div{
            background: url(//js02.daoju.qq.com/common/images/bg.png) no-repeat;
            display: block;
            width: 30px;
            height: 30px;
            background-position: -122px -153px;
            margin: 0 auto;
          }
        }
        a:hover{
          background: #36ab87;
          color: #fff;
          text-decoration: none;
          border-color: #36ab87;
          div{
            background-position: -162px -153px;
          }
        }
      }
}